<footer class="footer">
  <h3>Connect With Us</h3>
  <div class="social-links">
    <button type="button" class="social-btn btn-discord" (click)="openLink('https://discord.gg/VJxCwWwmW')">
      <i class="fa-brands fa-discord"></i>
      Discord
    </button>
    <button type="button" class="social-btn btn-instagram" (click)="openLink('https://www.instagram.com/rhythm_game_bash/')">
      <i class="fa-brands fa-instagram"></i>
      Instagram
    </button>
    <button type="button" class="social-btn btn-youtube" (click)="openLink('https://www.youtube.com/@RGB-k4h')">
      <i class="fa-brands fa-youtube"></i>
      YouTube
    </button>
  </div>
</footer>
